.DS_Store
.atom/
.dart_tool/
.idea
.vscode/
.packages
.pub/
build/
packages
.flutter-plugins

#Ignore IOS specific files
ios/Podfile
ios/Podfile.lock
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner.xcodeproj/project.pbxproj
ios/.generated/
